<div class="col-xs-12 col-sm-6 col-md-4 product">
  <%= link_to image_tag(male_bettum.image_url, class: "img-responsive"), male_bettum %>
  <h3 class="pName"><%= link_to male_bettum.name, male_bettum, class:"pName" %></h3>
  <p><%= male_bettum.description %> </p>
  <hr>
  <p class="price">
    <strong> <%= number_to_currency(male_bettum.price/100.to_f) %> </strong>
  </p>
  <% if signed_in? && current_user.admin? %>
    <%= link_to 'Show', male_bettum %> | <%= link_to 'Edit', edit_male_bettum_path(male_bettum) %> | <%= link_to 'Destroy', male_bettum, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>

<% logger.debug "There is a #{male_bettum.name} betta" %>
