<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-md-12">
    <% cache @male_bettum do %>
    <h1 class="show-title"><%= @male_bettum.name %></h1>
    <div class="product-image col-md-6">
      <%= image_tag(@male_bettum.image_url, class: "img-responsive img-zoom", data_zoom_image: @male_bettum.image_url ) %>
    </div>
    <% end %>
    <div class="product-description col-md-6">
      <h3>Description</h3>
      <p><%= @male_bettum.description %></p>
      <table>
        <tr>
          <th><h4>Price</h4></th>
          <td><%= number_to_currency(@male_bettum.price/100.to_f) %></td>
        </tr>
        <tr>
          <th><h4>Average Rating</h4></th>
          <td><div class="rated" id="average-rating" data-score="<%= @male_bettum.average_rating %>"></div></td>
        </tr>
        <tr>
          <th><h4>Color</h4></th>
          <td><%= @male_bettum.color %></td>
        </tr>
        <tr>
          <th><h4>Tail Type</h4></th>
          <td><%= @male_bettum.tail %></td>
        </tr>
        <tr>
          <th><h4>Pattern</h4></th>
          <td><%= @male_bettum.pattern %></td>
        </tr>
      </table>

      <div class="button-shelf">
        <%= link_to raw("<span class='button glyphicon glyphicon-chevron-left'> <p> Back </p> </span>"), male_betta_path, class: "button btn btn-info" %>
        <% if signed_in? && current_user.admin? %>
          <%= link_to raw("<span class='button glyphicon glyphicon-edit'> <p> Edit </p> </span>"), edit_male_bettum_path(@male_bettum), class: "button btn btn-info" %>
        <% end %>
        <div class="payment-button">
          <%= form_with(url: '/payments/create') do |form| %>
            <%= render partial: "shared/stripe_checkout_button" %>
          <% end %>
        </div>
      </div>

    </div>

    <div class="reviews">
      <%= render 'new_comment' %>
      <%= render 'comments' %>
      <div class="text-center">
        <%= will_paginate @comments %>
      </div>
    </div>

  </div>
</div>
