

<p id="notice"><%= notice %></p>

<h1>Products</h1>

<h2 class="section-title"> 3D Models </h2>

<% @products.each do |product| %>
  <div class="col-md-4 product">
      <img src="<%= product.image_url %>"> <br>
      <h3 class="pName"><%= product.name %></h3>
      <p><%= product.description %> </p> <br>
      <%= link_to 'Show', product %> | <%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>


<br>

<div class="add-button">
  <button type="button"> <%= link_to 'Add New Product', new_product_path %> </button>
</div>
