<p id="notice"><%= notice %></p>

<div class="container">
  <h1><%= @product.name %></h1>
  <div class="product-image col-md-6">
    <%= image_tag(@product.image_url, class: "img-responsive") %>
  </div>
  <div class="product-description col-md-6">
    <h3>Description</h3>
    <p><%= @product.description %></p>
    <strong><%= number_to_currency(@product.price) %></strong>
  </div>
  <div class="show-button">
    <button type="button"><%= link_to 'Edit', edit_product_path(@product) %> </button>
    <button type="button"><%= link_to 'Back', products_path %> </button>
  </div>
</div>
